<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Abarth Car Models List</h4>
    <p>Abarth & C. S.p.A. or popularly known as Abarth, is a road car</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>MG Car Models List</h4>
    <p>MG Cars: The Name to Remember When it Comes to Amazing Rides MG</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Tesla Car Models List</h4>
    <p>The world as we know it is already polluted with carbon monoxide</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Tata Car Models List</h4>
    <p>India also has their take on automobiles. They are popular for being one....</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Force Motors: Bring in the Power</h4>
    <p>When it comes to utility vehicles, power is essential in getting things done.</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Mahindra Car Models List</h4>
    <p>Mahindra and Mahindra Limited or shortly known as M&M, is a multinational automobile</p>
  </li>
</ul>

<%- include('partials/footer'); -%>